<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Confetti for Kajabi</title>
  <link rel="stylesheet" href="/static/sage-assets/main.css">
  <link rel="stylesheet" href="/static/all.css">
  <style>
    html {
      background: #f4f8fa;
    }
  </style>
</head>
<body class="sage-page">
  <main class="sage-content " id="main-content">
    {% block content %}{% endblock %}
  </main>
  <script type="text/javascript" src="/static/sage-assets/main.js"></script>
</body>
</html>
